.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.loadMore {
  min-width: 183px;
  height: 44px;

  border: none;
  border-radius: 8px;

  background-color: #b47b45;
  color: #fff;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  transition: opacity 250ms ease;
}

.loadMore:hover {
  opacity: 0.9;
}
