.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .contacts {
    flex-direction: row;
    gap: 22px;
    justify-content: space-evenly;
  }
}

.top_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts_button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #45563f;
  border-radius: 30px;
  padding: 8px 12px;
  box-shadow: 9px 6px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 12px;
}

.contacts_word {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

@media (min-width: 768px) {
  .contacts_word {
    font-size: 32px;
  }
}

@media (min-width: 1440px) {
  .contacts_word {
    font-size: 36px;
  }
}

.download {
  font-weight: 400;
  font-size: 14px;
  font-family: var(--font-heading);
  margin-right: 5px;
}

@media (min-width: 768px) {
  .download {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .download {
    font-size: 24px;
  }

  .arrow {
    width: 24px;
  }
}

.arrow_bracket {
  display: none;
}

@media (min-width: 768px) {
  .arrow_bracket {
    display: block;
  }
}

@media (min-width: 1440px) {
  .arrow_bracket {
    width: 144px;
    height: 320px;
  }
}

.list_contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.list_li {
  font-weight: 400;
  font-size: 15px;
  font-family: var(--font-heading);
  line-height: 176%;
  letter-spacing: 0.11em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@media (min-width: 768px) {
  .list_li {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .list_li {
    font-size: 32px;
  }
}
