.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--color-olive);

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 1000;

  padding: 15px 16px;
}

.close_btn {
  margin-left: 210px;
}

@media (min-width: 320px) {
  .close_btn {
    margin-left: 260px;
  }
}

.burger_btn_svg {
  stroke: var(--color-grey);
}

.burger_btn_svg:hover,
.burger_btn_svg:active,
.burger_btn_svg:focus {
  stroke: #000;
}

.modal_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-block: 50px;
}

.modal_nav a {
  border: 1px solid #45563f;
  border-radius: 30px;
  padding: 10px 25px;
  box-shadow: 9px 6px 4px 0 rgba(0, 0, 0, 0.25);
}
