.round,
.line {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.author {
  font-weight: 400;
  font-size: 16px;
}

@media (min-width: 768px) {
  .round,
  .line {
    display: block;
  }

  .round {
    border-radius: 100%;
    background-color: #808080;
    width: 15px;
    height: 15px;
  }

  .line {
    height: 4px;
    width: 38px;
    border-radius: 2%;
    background-color: #808080;
  }

  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1440px) {
  .line {
    width: 250px;
    border-radius: 2%;
  }
}
