.about {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.line_ball {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 9px solid #808080;
  margin-right: 27px;
}

.line_button {
  border: 1px solid #45563f;
  border-radius: 30px;
  padding: 8px 12px;
  box-shadow: 9px 6px 4px 0 rgba(0, 0, 0, 0.25);
  margin-right: 27px;
}

.title {
  font-weight: 400;
  font-size: 20px;
  font-family: var(--font-heading);
}

@media (min-width: 768px) {
  .title {
    font-size: 28px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 32px;
  }
}

.line_line {
  display: none;
}

@media (min-width: 768px) {
  .line_line {
    display: block;
    width: 200px;
    height: 4px;
    background-color: #808080;
    margin-bottom: 25px;
  }
}

@media (min-width: 1440px) {
  .line_line {
    width: 400px;
  }
}

.mySlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
}

@media (min-width: 768px) {
  .mySlide {
    gap: 13px;
  }
}

@media (min-width: 1440px) {
  .mySlide {
    gap: 17px;
  }
}

.h3 {
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  font-family: var(--font-heading);
}

@media (min-width: 768px) {
  .h3 {
    font-size: 28px;
  }
}

@media (min-width: 1440px) {
  .h3 {
    font-size: 30px;
  }
}

.project_photo {
  width: 288px;
}

@media (min-width: 768px) {
  .project_photo {
    width: 400px;
  }
}

@media (min-width: 1440px) {
  .project_photo {
    width: 700px;
  }
}

.box {
  display: none;
}

@media (min-width: 768px) {
  .box {
    display: block;
    width: 64px;
    height: 64px;
  }

  .arrow {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 1440px) {
  .box {
    width: 80px;
    height: 80px;
  }

  .arrow {
    width: 80px;
    height: 80px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #808080;
  opacity: 1;
  transition: all 0.3s ease;
}

.button {
  border: 1px solid #45563f;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: 400;
  font-size: 15px;
  font-family: var(--font-heading);
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}
